<title>BIL481-HW1 deployed automatically</title>
    <h1>Hello, World!</h1>
    <p>
        In the first form, enter a list of integers seperated by a newline character.<br>
        In the second form, enter an array of integers seperated by a newline character which holds the values to add to or subtract from the first form.<br>
        In the third form, enter an integer which denotes word count.<br>
        In the last form, enter an array of integers seperated by a newline character which consists of the lengths of words.<br><br>
        The method will generate the deciphered string.<br><br>
        Example:<br>
        Input 1: 21 20 11 11 7 1 32 6<br>
        Input 2: 26 52 78 10 4 0 -7 -5<br>
        Input 3: 2<br>
        Input 4: 4 4
    <p>

    Result is {{result}}

    <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
    </form>